* {
box-sizing: border-box;
margin: 0;
}

.header{
  height: 80px;
  border-bottom: 1px solid rgba(15, 10, 1, 0.44);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.container{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 30px;
  align-items: center;

  }

.container  ul li{
  list-style: none;
  display: inline-block;
}

a{
  text-decoration: none;
  color: black;
  padding: 25px;
}

#iscriviti{
background-color: rgb(246, 141, 92);
padding: 15px 10px;
}
