* {
box-sizing: border-box;
margin: 0;
}

.header{
  height: 60px;
  border-bottom: 1px solid rgba(15, 10, 1, 0.44);
}

.header > * {
  float: right;
}
.container{
  width: 50%;
  height: 100%;
  padding-left: 100px;
  }

.container  ul li{
  list-style: none;
  display: inline-block;
  text-align: center;
  line-height: 60px;
}

a{
  text-decoration: none;
  color: rgba(15, 10, 1, 0.44);
  padding: 20px;
}
